<template>
  <div
    class="w-full inline-block p-4 border-b border-gray-800 hover:bg-gray-800"
  >
    <div class="flex w-full">
      <div class="mr-3 w-1/10">
        <img :src="tweet.user.avatar" class="w-12 rounded-full" />
      </div>
      <div class="w-full">
        <app-tweet-username :user="tweet.user" />
        <p class="text-gray-300 break-all">{{ tweet.body }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import AppTweetUsername from "@/components/tweets/AppTweetUsername";

export default {
  name: "AppTweet",
  components: { AppTweetUsername },
  props: {
    tweet: {
      type: Object,
      required: true
    }
  }
};
</script>
