<template>
  <section class="flex">
    <div class="w-3/12">
      <a href="#" @click.prevent="signOut">Sign Out</a>
    </div>
    <div class="w-7/12 border border-gray-800 border-t-0 border-b-0">
      <app-timeline />
    </div>
  </section>
</template>

<script>
import { mapActions } from "vuex";
import AppTimeline from "@/components/timeline/AppTimeline";

export default {
  name: "Home",
  components: {
    AppTimeline
  },
  methods: {
    ...mapActions({
      signOutAction: "auth/signOut"
    }),
    signOut() {
      this.signOutAction().then(() => {
        this.$router.replace({
          name: "signin"
        });
      });
    }
  }
};
</script>
