<template>
  <form @submit.prevent="submit" autocomplete="off">
    <div v-if="authenticated">
      <pre class="text-white">{{ user }}</pre>
    </div>
    <div class="mb-2">
      <label class="text-white" for="email">Email</label>
      <input v-model="form.user.email" type="text" name="email" id="email" />
    </div>
    <div>
      <label class="text-white" for="password">Password</label>
      <input
        v-model="form.user.password"
        type="password"
        name="password"
        id="password"
      />
    </div>
    <div>
      <button class="bg-white px-4 mt-2" type="submit">Sign In</button>
    </div>
  </form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "SignIn",
  data() {
    return {
      form: {
        user: {
          email: null,
          password: null
        }
      }
    };
  },
  computed: {
    ...mapGetters({
      authenticated: "auth/authenticated",
      user: "auth/user"
    })
  },
  methods: {
    ...mapActions({
      signIn: "auth/signIn"
    }),
    submit() {
      this.signIn(this.form)
        .then(() => {
          this.$router.replace("/");
        })
        .catch(console.error);
    }
  }
};
</script>
