<template>
  <div>
    <div class="border-b-8 border-gray-800 p-4">
      <AppTweetCompose />
    </div>
    <app-tweet v-for="tweet in tweets" :key="tweet.id" :tweet="tweet" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import AppTweet from "@/components/tweets/AppTweet";
import AppTweetCompose from "@/components/compose/AppTweetCompose";

export default {
  name: "AppTimeline",
  components: {
    AppTweet,
    AppTweetCompose
  },
  mounted() {
    this.getTweets();
  },
  computed: {
    ...mapGetters({
      tweets: "timeline/tweets"
    })
  },
  methods: {
    ...mapActions({
      getTweets: "timeline/getTweets"
    })
  }
};
</script>
