<template>
  <form autocomplete="off" class="flex" @submit.prevent="submit">
    <div class="mr-3">
      <img :src="user.avatar" class="w-12 rounded-full" />
    </div>
    <div class="flex-grow">
      <textarea
        autofocus
        v-model="form.body"
        class="bg-gray-900 w-full outline-none text-gray-300 text-lg resize-none mb-2"
        placeholder="What's happening?"
      >
      </textarea>
      <div class="flex justify-between">
        <div></div>
        <div>
          <button
            type="submit"
            class="bg-blue-500 rounded-full text-gray-300 text-center px-4 py-3 font-bold leading-none"
          >
            Tweet
          </button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import axios from "@/axios";

export default {
  name: "AppTweetCompose",
  props: {
    user: {
      type: Object,
      default: () => ({
        avatar: "https://i.pravatar.cc/300?u=fake@pravatar.com"
      })
    }
  },
  data() {
    return {
      form: {
        body: ""
      }
    };
  },
  methods: {
    async submit() {
      await axios.post("tweets", this.form);
      this.form.body = "";
    }
  }
};
</script>
